[submodule "1_libraries/evidence/evograph"]
	path = 1_libraries/evidence/evograph
	url = https://github.com/sakeof-capy/evograph.git
[submodule "1_libraries/evidence/doxygen_example"]
	path = 1_libraries/evidence/doxygen_example
	url = https://github.com/sakeof-capy/doxygen_example.git
[submodule "1_libraries/dependencies/nlomann/json"]
	path = 1_libraries/dependencies/nlomann/json
	url = https://github.com/nlohmann/json.git
[submodule "1_libraries/evidence/dependencies/pugixml"]
	path = 1_libraries/evidence/dependencies/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "1_libraries/evidence/protobuf_n_mq"]
	path = 1_libraries/evidence/protobuf_n_mq
	url = https://github.com/sakeof-capy/lab4_protobuf_n_mq.git
[submodule "1_libraries/evidence/cpp_web_example"]
	path = 1_libraries/evidence/cpp_web_example
	url = https://github.com/sakeof-capy/cpp_web_example.git
[submodule "1_libraries/evidence/orm_example"]
	path = 1_libraries/evidence/orm_example
	url = https://github.com/sakeof-capy/orm_example_rs.git
[submodule "1_libraries/evidence/dependencies/HowardHinnant/date"]
	path = 1_libraries/evidence/dependencies/HowardHinnant/date
	url = https://github.com/HowardHinnant/date.git
[submodule "1_libraries/evidence/zlib_example"]
	path = 1_libraries/evidence/zlib_example
	url = https://github.com/sakeof-capy/zlib_example.git
[submodule "1_libraries/evidence/design-patterns-project-basket"]
	path = 1_libraries/evidence/design-patterns-project-basket
	url = git@github.com:The-CapyBar-Team/design-patterns-project-basket.git
[submodule "1_libraries/evidence/tguts"]
	path = 1_libraries/evidence/tguts
	url = git@github.com:sakeof-capy/tguts.git
[submodule "5_data_storages/evidence/distributed_systems_labs"]
	path = 5_data_storages/evidence/distributed_systems_labs
	url = git@github.com:sakeof-capy/distributed_systems_labs.git
